body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 1300px;
  margin: auto;
}

.btn {
  color: #fff;
  background-color: #0004ff;
  font-size: 20px;
  padding: 10px 50px;
  border-radius: 15px;
  border: none;
}

.btn:link,
.btn:hover {
  background-color: #0003c0;
  cursor: pointer;
}

/* classes used with dynamic car elements */

.cars-label {
  color: #444;
  font-size: 40px;
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-for-btn {
  display: flex;
  justify-content: center;
}

.rent-btn {
  display: inline-block;
  padding: 10px 40px;
}

.info-box {
  width: 700px;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.info-text {
  line-height: 0.5;
}

.model-name {
  font-size: 30px;
  color: #444;
}

.info-line {
  font-size: 23px;
  color: #444;
}

.car-img {
  width: 400px;
  height: auto;
}

.car-element {
  padding: 20px 20px;
  border: 1px #0004ff solid;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: box-shadow 0.1s ease-in-out;
}

.car-element:hover {
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3);
}

/******************************************/
/*       Car specifications window        */

.info-window .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.info-window .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 1800px;
  height: auto;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  box-sizing: border-box;
}

.info-window .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.info-window.active .overlay {
  display: block;
}

.info-window.active .content {
  transition: all 100ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.title-model-name {
  color: #444;
  margin-bottom: 40px;
}

.car-info-part {
  display: grid;
  grid-template-columns: auto 400px;
  color: #444;
  text-align: left;
  font-size: 25px;
}

.related-info {
  text-align: left;
  font-size: 25px;
  margin-left: 100px;
}

.car-images-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.info-car-img {
  padding: 20px;
  border: 1px solid #444;
}

/******************************************/

.nav {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;

  border: 1px #aaa solid;
  border-radius: 15px;
  margin-bottom: 10px;
}

.filter-section {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;

  border: 1px #aaa solid;
  border-radius: 15px;
  margin-bottom: 60px;
}

.filter-sub {
  margin-bottom: 10px;
  font-size: 25px;
  color: #444;
}

.combobox {
  font-size: 20px;
  color: #444;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.filter-btn {
  border: none;
  padding: 10px 60px;
}

.drop-filter-btn {
  border: none;
  padding: 10px 38px;
}
